<div class="table-container">
    <table class="table align-middle">
        <thead class="table-head">
            <tr>
                <th>Operand 1</th>
                <th>Operand 2</th>
                <th>Operation</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody class="table-body" data-test="history-table">
            @for(entry of history; track entry.entryId) {
                <tr>
                    <td>{{ entry.operand1 }}</td>
                    <td>{{ entry.operand2 }}</td>
                    <td>
                        {{
                            entry.operationType
                                | operationName: operationDisplayNames!
                        }}
                    </td>
                    <td>{{ entry.result | number: '1.0-2' }}</td>
                </tr>
            }
        </tbody>
    </table>
</div>
